<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        .button{
            height: 50px;
            width: 70px;
            box-shadow: 6px black;
        }

    </style>
</head>
<body>
    
    <a href=""><button class="but">go to sign up page</button></a>

    <a href=""><button class="but">go to login in page </button></a>

</body>
<script src="/index.js"></script>
</html>